.textarea {
  display: inline-block;
  width: 100%;
  padding: 8px 12px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(9, 45, 66, 0.25);
  border: none;
  border-radius: 3px;
  resize: none;
  box-sizing: border-box;

  &::placeholder {
    color: #b8b9bb;
  }
}
