@import "../../../styles/variables";

.column {
  position: relative;
  flex-shrink: 0;
  margin-left: 12px;
  padding-bottom: 43px;
  width: 272px;
  border-radius: 3px;
  background-color: $gray;

  &:first-child {
    margin-left: 0;
  }
}

.column__header {
  padding: 12px 9px 12px 13px;
}

.column__cards {
  padding: 0 9px;
}

.column__btn {
  position: absolute;
  left: 8px;
  bottom: 6px;
  width: calc(100% - 16px);
}
